<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>gdp-prms-ui</display-name>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <description>
            Handles Base64 encoding and sending WPS call to upload x-zipped-shp
        </description>
        <servlet-name>UploadHandlerServlet</servlet-name>
        <servlet-class>gov.usgs.cida.gdp.service.UploadHandlerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadHandlerServlet</servlet-name>
        <url-pattern>/service/upload</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
