<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>JMXBurlapServlet</servlet-name>
        <servlet-class>gov.usgs.cida.jmx.JMXBurlapServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JMXHessianServlet</servlet-name>
        <servlet-class>gov.usgs.cida.jmx.JMXHessianServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JMXBurlapServlet</servlet-name>
        <url-pattern>/burlap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JMXHessianServlet</servlet-name>
        <url-pattern>/hessian</url-pattern>
    </servlet-mapping>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>Configuration Area</realm-name>
    </login-config>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Protected Resource</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>manager</role-name>
        </auth-constraint>
    </security-constraint>
</web-app>
