/**/target/
/**/src/main/webapp/META-INF/context.xml
/**/nb-configuration.xml
!/gdp-prms-ui/src/main/webapp/META-INF/context.xml
/gdp-ui/src/main/webapp/scratch/
/gdp-jemeter/
gdp-utility-wps/src/main/resources/gdp_opts.sh
gdp-geoserver/geoserver/src/main/webapp/data/security/users.properties
gdp-wps-test/
