/gdp-common-utilities/target/
/gdp-data-access/target/
/gdp-core-processing/target/
/gdp-proxy/target/
/gdp-utility-wps/target/
/gdp-52n-wps-patches/target/
/gdp-process-wps/target/
/geoserver/target/
/gdp-geotiff/target/
/gdp-derivative-processing/target/

.gitignore
/**/src/main/webapp/META-INF/context.xml
/**/nb-configuration.xml
/gdp-prms-ui/target/
!/gdp-prms-ui/src/main/webapp/META-INF/context.xml
