/* 
    Document   : application
    Created on : Aug 14, 2011, 2:40:57 PM
    Author     : isuftin
    Description:
        IDs and Classes specific to this application
*/

div#title.xtb-text span.x-combo-list-item {
    border-color: #D0DEF0 !important;
}

#plotter-prefill-text {
    color: #15428B; 
    width: 100%;
    height: 100%;
    background-image: url('../images/CIDA_4C_logo_no_usgs.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-origin:content-box;
}

.dygraph-ylabel {
    color: #15428B; 
    font-family: tahoma,arial,verdana,sans-serif;
    font-size: 13px;
    font-weight: bold;
}

.dygraph-axis-label-x {
    color: #15428B; 
    font-family: tahoma,arial,verdana,sans-serif;
    font-size: 13px;
    font-weight: bold;
}

.dygraph-axis-label-y {
    color: #15428B; 
    font-family: tahoma,arial,verdana,sans-serif;
    font-size: 13px;
    font-weight: bold;
}

.xtb-text { 
    /* Overrides toolbar text styling in extjs (plain, black)
       This matches the styling of the normal title bar text in ExtJS*/
    color: #15428B; 
    font-family: tahoma,arial,verdana,sans-serif;
    font-size: 11px;
    font-weight: bold !important;
}

.olControlPanel div { 
    display:block;
    width:  24px;
    height: 24px;
    margin: 5px;
    background-color:white;
}

.olControlPanel .olControlNavigationItemActive { 
    background-color: blue;
    background-image: url("../js/openlayers/theme/default/img/pan_on.png");
}
.olControlPanel .olControlNavigationItemInactive { 
    background-color: orange;
    background-image: url("../js/openlayers/theme/default/img/pan_off.png");
}
.olControlPanel .olControlZoomBoxItemInactive { 
    width:  22px;  
    height: 22px;
    background-color: orange;
    background-image: url("../images/draw_rect_off.gif");
}
.olControlPanel .olControlZoomBoxItemActive { 
    width:  22px;  
    height: 22px;
    background-color: blue;
    background-image: url("../images/draw_rect_on.gif");
}

.blank-icon {
    background-image: url(../images/s.gif) !important;
}

.bounding-box {
    background-image: url(../images/map-tools/bounding-box.gif) !important;
}

.dygraph-title {
    color : #225588;
}

.pan-map {
    background-image: url(../images/map-tools/pan-map.gif) !important;
}

.process-pause {
    background-image: url(../images/process-actions/pause.gif) !important;
}
.process-continue {
    background-image: url(../images/process-actions/continue.gif) !important;
}
.process-stop {
    background-image: url(../images/process-actions/stop.gif) !important;
}
.process-download {
    background-image: url(../images/process-actions/download.gif) !important;
}
.process-visualize {
    background-image: url(../images/process-actions/visualize.gif) !important;
}
.process-info {
    background-image: url(../images/process-actions/info.gif) !important;
}
.process-close {
    background-image: url(../images/process-actions/close.gif) !important;
}
.process-status-stopped {
    background-image: url(../images/process-actions/red-circle.gif) !important;
}
.process-status-started {
    background-image: url(../images/process-actions/yellow-circle.gif) !important;
}
.process-status-completed {
    background-image: url(../images/process-actions/green-circle.gif) !important;
}
.process-status-paused {
    background-image: url(../images/process-actions/pause.gif) !important;
}

.quicktip-img {
    vertical-align: middle;
}

.zoom-out {
    background-image: url(../images/map-tools/zoom-out.gif) !important;
}
.zoom-in {
    background-image: url(../images/map-tools/zoom-in.gif) !important;
}