/* 
    Document   : application
    Created on : Aug 14, 2011, 2:40:57 PM
    Author     : isuftin
    Description:
        IDs and Classes specific to this application
*/

.zoom-out {
    background-image: url(../images/map-tools/zoom-out.gif) !important;
}
.zoom-in {
    background-image: url(../images/map-tools/zoom-in.gif) !important;
}
.pan-map {
    background-image: url(../images/map-tools/pan-map.gif) !important;
}
.bounding-box {
    background-image: url(../images/map-tools/bounding-box.gif) !important;
}

.process-pause {
    background-image: url(../images/process-actions/pause.gif) !important;
}
.process-continue {
    background-image: url(../images/process-actions/continue.gif) !important;
}
.process-stop {
    background-image: url(../images/process-actions/stop.gif) !important;
}
.process-download {
    background-image: url(../images/process-actions/download.gif) !important;
}
.process-visualize {
    background-image: url(../images/process-actions/visualize.gif) !important;
}
.process-info {
    background-image: url(../images/process-actions/info.gif) !important;
}
.process-close {
    background-image: url(../images/process-actions/close.gif) !important;
}
.process-status-stopped {
    background-image: url(../images/process-actions/red-circle.gif) !important;
}
.process-status-started {
    background-image: url(../images/process-actions/yellow-circle.gif) !important;
}
.process-status-completed {
    background-image: url(../images/process-actions/green-circle.gif) !important;
}
.process-status-paused {
    background-image: url(../images/process-actions/pause.gif) !important;
}

.blank-icon {
    background-image: url(../images/s.gif) !important;
}
