<!-- Example context.xml -->
<!-- Replace /tmp with wherever your GDP base directory may be -->
<Environment name="gdp.path.userspace" type="java.lang.String" value="/tmp/GDP/UserSpace"/>
<Environment name="gdp.path.shapefile" type="java.lang.String" value="/tmp/GDP/ShapeFiles"/>
<Environment name="gdp.path.workspace" type="java.lang.String" value="/tmp/GDP/WorkSpace"/>
<Environment name="gdp.path.cache" type="java.lang.String" value="/tmp/GDP/Cache"/>
<Environment name="gdp.file.age.limit" type="java.lang.String" value="172800000"/>
<Environment name="gdp.communication.recheck" type="java.lang.String" value="60000"/>
<Environment name="gdp.check.timer.break_on_syserr" type="java.lang.String" value="false"/>
<Environment name="gdp.check.timer.email_on_syserr" type="java.lang.String" value="false"/>
<Environment name="gdp.communication.recheck.err_limit" type="java.lang.String" value="-1"/>
<Environment name="gdp.communication.from.addr" type="java.lang.String" value="gdp_data@usgs.gov"/>
<Environment name="gdp.communication.bcc.addr" type="java.lang.String" value="gdp_data@usgs.gov"/>
<Environment name="gdp.communication.smtp.host" type="java.lang.String" value="use.your.own.mail.server.gov"/>
<Environment name="gdp.communication.smtp.port" type="java.lang.String" value="25"/>
<Environment name="gdp.geoserver.url" type="java.lang.String" value="http://127.0.0.1:8082/geoserver"/>
<Environment name="gdp.geoserver.username" type="java.lang.String" value=""/>
<Environment name="gdp.geoserver.password" type="java.lang.String" value=""/>
<Environment name="gdp.endpoint.wps.url" type="java.lang.String" value="http://127.0.0.1:8080/gdp-utility-wps/WebProcessingService"/>
<Environment name="gdp.endpoint.csw.url" type="java.lang.String" value="http://127.0.0.1:8082/gdp/geonetwork/srv/en/csw"/>