<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>52n WPS 1.0.0</display-name>
    <description>52n prototype implementation of the WPS 1.0.0 spec.</description>
    <filter>
        <filter-name>ResponseURLFilter</filter-name>
        <filter-class>gov.usgs.cida.gdp.servlet.ResponseURLFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ResponseURLFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>
    <listener>
        <description>Allows dynamic Log4J log level changes via JMX</description>
        <listener-class>gov.usgs.cida.jmx.log4j.JMXLog4JLoggerServletContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>wpsServlet</servlet-name>
        <servlet-class>org.n52.wps.server.WebProcessingService</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>wpsServlet</servlet-name>
        <url-pattern>/WebProcessingService</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>resultServlet</servlet-name>
        <servlet-class>org.n52.wps.server.RetrieveResultServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>resultServlet</servlet-name>
        <url-pattern>/RetrieveResultServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>/index.html</welcome-file>
    </welcome-file-list>
</web-app>
