.x-panel, .x-hidden {
    display: none !important;
}

#pubs-print-target {
    display: block !important;
    font-size: x-small !important;
}

/********************************************
Citation details
*********************************************/
#pubs-print-target h1{
    font-size: large;
    padding-bottom: 2em;
}

#pubs-print-target {
    padding: 1em;
}

#pubs-print-target .pubs-citation-detail-img-container{
    float: left;
    padding-right: 2em;
}

#pubs-print-target .pubs-citation-detail-img-container img{
    border-bottom: solid black 2px;
    border-right: solid black 2px;
}

#pubs-print-target .pubs-citation-detail-online-info{
    padding: 1em;   
}

#pubs-print-target .pubs-citation-detail-online-info h2 {
    padding-bottom: 1em;   
}

#pubs-print-target .pubs-citation-detail-online-info p {
    padding-top: 1em;   
}

#pubs-print-target .pubs-citation-detail-info-container {
    padding-top: 1em;   
    padding-bottom: 1em;   
}

#pubs-print-target .pubs-citation-detail-info-container table {
    width: 100%;
}

#pubs-print-target .pubs-citation-detail-info-container td {
    padding-left: 1em;
    padding-right: 1em;
    background-color: #EEE;     
}

#pubs-print-target #pubs-citation-detail-navigavtion{
    float: right;   
    text-align: right;
}

#pubs-print-target #pubs-citation-detail-navigavtion a {
    cursor: pointer;
}

#pubs-print-target #pubs-citation-detail-navigavtion a:hover {
    cursor: pointer;
    background-color: transparent !important;
}
/********************************************
Citation View page
*********************************************/
#pubs-print-target #pubs-citation-view-min-height {
    float: right;
}
#pubs-print-target {
    padding: 1em;
    float: left;    
}

#pubs-print-target h1{
    font-size: large;
    padding-bottom: 2em;
}

#pubs-print-target #pubs-citation-detail-navigavtion{
    display: none; 
}