<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<description>
	  	Geodata Portal
	</description>
  	<display-name>
  		Geodata Portal {Owner: NB, Coder: IS}
	</display-name>
	<display-name>GDP</display-name>
	<listener>
		<listener-class>gov.usgs.gdp.servlet.SessionListener</listener-class>
	</listener>

	<servlet>
		<description>Allows User To Upload Files</description>
		<display-name>UploadFilesServlet</display-name>
		<servlet-name>UploadFilesServlet</servlet-name>
		<servlet-class>
		gov.usgs.gdp.servlet.UploadFilesServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		Runs application initialization tasks at beginning of app and at end of app</description>
		<display-name>AppInitializationServlet</display-name>
		<servlet-name>AppInitializationServlet</servlet-name>
		<servlet-class>
			gov.usgs.gdp.servlet.AppInitializationServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RouterServlet</display-name>
		<servlet-name>RouterServlet</servlet-name>
		<servlet-class>
		gov.usgs.gdp.servlet.RouterServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GeoToolsServlet</display-name>
		<servlet-name>GeoToolsServlet</servlet-name>
		<servlet-class>
		gov.usgs.gdp.servlet.GeoToolsServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FileSelectionServlet</display-name>
		<servlet-name>FileSelectionServlet</servlet-name>
		<servlet-class>
		gov.usgs.gdp.servlet.FileSelectionServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FileProcessServlet</display-name>
		<servlet-name>FileProcessServlet</servlet-name>
		<servlet-class>
		gov.usgs.gdp.servlet.FileProcessServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadFilesServlet</servlet-name>
		<url-pattern>/UploadFilesServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AppInitializationServlet</servlet-name>
		<url-pattern>/AppInitializationServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RouterServlet</servlet-name>
		<url-pattern>/Router</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GeoToolsServlet</servlet-name>
		<url-pattern>/GeoToolsServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FileSelectionServlet</servlet-name>
		<url-pattern>/FileSelectionServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FileProcessServlet</servlet-name>
		<url-pattern>/FileProcessServlet</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>/jsp/index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
