<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>gdp-webapp</display-name>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <description>
        Runs application initialization tasks at beginning of app and at end of app</description>
        <display-name>AppInitializationServlet</display-name>
        <servlet-name>AppInitializationServlet</servlet-name>
        <servlet-class>
            gov.usgs.cida.gdp.webapp.servlet.AppInitializationServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>RouterServlet</display-name>
        <servlet-name>RouterServlet</servlet-name>
        <servlet-class>
            gov.usgs.cida.gdp.webapp.servlet.RouterServlet
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RouterServlet</servlet-name>
        <url-pattern>/Router</url-pattern>
        <url-pattern>/router</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>OutputInfoServlet</servlet-name>
        <servlet-class>gov.usgs.cida.gdp.webapp.servlet.OutputInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OutputInfoServlet</servlet-name>
        <url-pattern>/OutputInfoServlet</url-pattern>
        <url-pattern>/outputInfoServlet</url-pattern>
    </servlet-mapping>
</web-app>
